*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    margin: 50px auto;
    text-align: center;
}
body{
    background-color: rgba(194, 188, 188, 0.185);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tb-periodica table{
    width: 90%;
    margin: 0 auto 30px auto;
    /*border: 1px solid;*/
}


td{
    width: 90px;
    height: 75px;
    padding: 5px;
    border-radius: 2px;
    position: relative;
    text-align: center;
    margin-right: 2px;
    
}

td:hover{
    transform: scale(1.17);
    
}

/* Personalização de cada célula do elemento **************************************** */
.numero-atomico{
    position: absolute;
    top: 5px;
    left: 6px;
    font-size: 10px;
}

.simbolo{
    font-size: 20px;
    font-weight: bold;
}

.nome-elemento{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    font-size: 10px;
}

/* CORES DOS GRUPO ******************************************************************* */
.nao-metais{
    background-color: rgba(153,255,153);
}

.semi-metais{
    background-color: rgba(153,204,255);
}

.outros-metais{
    background-color: aqua;
}

.metais-transicao{
    background-color: rgb(204,204,204);
}

.gases-nobres{
    background-color:  rgb(81, 141, 202);
}

.halogenios{
    background-color: rgba(153,255,153);
}

.metais-alcalinos{
    background-color: rgb(255, 204, 153);
}

.alcalinos-terrosos{
    background-color: rgb(255, 255, 153);
}

.lantanideos{
    background-color: rgb(204, 153, 255);
}

.actinidios{
    background-color: rgba(204,153,102);
}


/* SEÇÃO LEGENDAS ****************************************************************** */
.col-legendas{
    width: 1.5px; 
    height: 1.5px;
}