*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

a:link,a:visited{
    color: black;
}

h1{
    margin: 50px auto;
    text-align: center;
    font-size: 3em;
}
body{
    background-color: rgba(194, 188, 188, 0.185);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#tb-periodica table{
    width: 90%;
    margin: 0 auto 50px auto;
    cursor: pointer;
    /*border: 1px solid;*/
}


td{
    width: 90px;
    height: 75px;
    padding: 5px;
    border-radius: 2.5px;
    position: relative;
    text-align: center;
    margin-right: 3px;
    
}

#tb-periodica td:hover:not(.td-vazio){
    box-shadow: 
        1px 1px,
        2px 2px,
        3px 3px,
        4px 4px,
        5px 5px,
        6px 6px,
        2px 2px;
    
    transform: scaleX(-3px);
    transform: scale(1.5);
    z-index: 5;
    
}

/* Personalização de cada célula do elemento **************************************** */
.numero-atomico{
    position: absolute;
    top: 5px;
    left: 6px;
    font-size: 10px;
}

.simbolo{
    font-size: 20px;
    font-weight: bold;
}

.nome-elemento{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    font-style: italic;
    font-size: 10px;
}

/* CORES DOS GRUPO ******************************************************************* */
.nao-metais{
    background-color: rgba(153,255,153);
}

.semi-metais{
    background-color: rgba(153,204,255);
}

.outros-metais{
    background-color: aqua;
}

.metais-transicao{
    background-color: rgb(255 0 120 / 72%);
}

.gases-nobres{
    background-color:  rgb(81, 141, 202);
}

.halogenios{
    background-color: rgb(60 199 0 / 75%);
}

.metais-alcalinos{
    background-color: rgb(249 167 86);
}

.alcalinos-terrosos{
    background-color: rgb(255 255 18 / 87%);
}

.lantanideos{
    background-color: rgb(204, 153, 255);
}

.actinidios{
    background-color: rgba(204,153,102);
}


/* SEÇÃO LEGENDAS ****************************************************************** */
.col-legenda{
    width: 1.5px; 
    height: 1.5px;
    padding: 10px;
}
h3{
    font-size: 1.85em;
    margin-left: 100px;
    margin-bottom: 45px;
}

#legendas{
    margin-bottom: 150px;
    display: flex;
}

#elemento{
    flex:1;
    max-width: 150px;
    max-height: 150px;
}

#elemento td{
    width: 90px;
    height: 90px;  
}

#cores-grupos{
    margin-right: 150px;
    flex: 1;  
    max-width: 500px;
    max-height: 200px;
    margin-left: 200px;
    
}

#cores-grupos td{
    border: 1px solid;
}

.nome-grupo{
    width: 210px;
    height: 30px;
    font-size: 18px;
    text-align: left;
}

/* FOOTER *****************************************************************************/
footer{
    font-size: 18px;
    text-decoration: none;
    background-color: #80808033;
}
footer ul{
    margin-left: 200px;
    list-style-type: none;
    
}
footer ul li{
    line-height: 2;
    
}

#credito p{
    text-align: center;
    margin-top: 60px;
    padding: 15px;
    font-weight: bold;
}